.item-root {
    border: 1px solid black;
    width: 200px;
    height: 200px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.description {
    font-size: 12px;
}

.price {
    font-size: 15px;
    color: rgba(152, 50, 98, 0.94);
    font-weight: 700;
}
.footer-container {
    display: flex;
    justify-content: space-between;
}
